<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055588730579-6anqmiasvi2iu4d6nhn05j5b5bufvkm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055588730579-6anqmiasvi2iu4d6nhn05j5b5bufvkm0</string>
	<key>API_KEY</key>
	<string>AIzaSyC65Lp5-M_NZuAWhNQRrrbkv5JrqAo0yCg</string>
	<key>GCM_SENDER_ID</key>
	<string>1055588730579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aiedoc.aiedocTest</string>
	<key>PROJECT_ID</key>
	<string>aiedoc-test</string>
	<key>STORAGE_BUCKET</key>
	<string>aiedoc-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055588730579:ios:e709ea55fcf360836ef626</string>
	<key>DATABASE_URL</key>
	<string>https://aiedoc-test.firebaseio.com</string>
</dict>
</plist>